<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Recipe finder</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">

  <div class="mt-5">

    <%= form_tag root_path, :method => :get, :utf8_enforce_tag => false, class: "input-group" do %>
      <%= text_field_tag :query, params[:query], { class: "form-control", placeholder: "Search for..." } %>
      <span class="input-group-btn">
        <%= submit_tag 'Search', class: "btn btn-secondary"  %>
      </span>
    <% end %>
    
    <table class="table table-striped mt-5">
      <tbody>
        <% @recipes.each do |recipe| %>
          <tr>  
            <td> <img src="<%= recipe['thumbnail']%>"> </td>
            <td> <%= recipe['title'] %></td>
            <td> <%= recipe['ingredients'] %></td>
            <td> <a target="_blank" href="<%= recipe['href'] %>"> <%= recipe['href'] %></a></td>
          </tr>
        <% end %>
    </table>
  </div>

</div>